<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="vendors/font-awesome-4.7.0/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="vendors/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="vendors/bootstrap-pingendo.css" type="text/css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="message-container"></div>
    <div id="wrapper" class="bg-primary">
        <div class="py-5 text-white bg-primary text-center h-100 my-0">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-5">ΑΝΑΓΝΩΡΙΣΗ ΣΤΟΙΧΕΙΩΝ</h1>
                        <p class="lead mb-4">Εισάγετε Τηλέφωνο, Email, ΑΦΜ ή ΑΜΚΑ</p>
                        <div class="input-group w-50 mx-auto">
                            <input id="user_id" type="text" class="form-control w-25" placeholder="Εισαγωγή αριθμού...">
                            <span class="input-group-btn">
                                <button id="to-step-2" class="btn btn-secondary" type="button">Επόμενο</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="vendors/jquery.min.js"></script>
    <script src="vendors/popper.min.js"></script>
    <script src="vendors/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>