#wrapper {
    min-height: 100vh;
}

#wrapper > *:last-child {
    padding-bottom: 5rem;
}

#message-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    user-select: none;
    pointer-events: none;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    padding: 1rem;
}

.message {
    max-width: 50vw;
    margin: auto;
    padding: 0.25rem 0.5rem;
}

.hidden {
    display: none !important;
}
.hospital {
    background-color: white;
    color: #1c1c1c;
    padding: 0.5rem;
    border: 1px solid var(--info);
    border-radius: 0.25rem;
    transition: all 0.15s;
    cursor: default;
    user-select: none;
}
.hospital.selected {
    background-color: var(--info);
    color: white;
}